.logo{
    width: 30%;
    margin-left: -50%;
}

.navsearch{
    /* margin-left: -190px; */

}
.statement{
    font-size: 10px;
    margin-left: -50%;
}
.sitename{
    font-size: 20px;
    margin-left: -9%;
    color: #A7A7A7;
}
.navbar{
    /* box-shadow: 0 8px 16px 0 rgba(56, 98, 153, 0.137), 0 6px 20px 0 rgba(66, 56, 153, 0.24); */

}
.navbutton1{
    background-color: #6552b8;
    
}

