.statsbar{
    height: 135px;
    background-color: rgb(73, 73, 73);
    margin-top: -33px;
}

/******************************************
CIRCULAR PIE CHART
******************************************/
.chart{

}

    
.donut-chart {
  position: relative;
	width: 100px;
  height: 100px;
	margin: 0 auto 2rem;
  border-radius: 100%
 }
p.center-date {
  background: #394264;
  position: absolute;
  text-align: center;
	font-size: 15px;
  top:0;left:0;bottom:0;right:0;
  width: 65px;
  height: 65px;
  margin: auto;
  border-radius: 50%;
  line-height: 12.5px;
  padding: 15% 0 0;
  color: #f8f9fa;
}
.center-date span.scnd-font-color {
 line-height: 0; 
}
.recorte {
    border-radius: 50%;
    clip: rect(0px, 100px, 100px, 50px);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.quesito {
    border-radius: 50%;
    clip: rect(0px, 50px, 100px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 0.75rem;
  }
#porcion1 {
    transform: rotate(0deg);
  }

#porcion1 .quesito {
    background-color: #E64C65;
    transform: rotate(76deg);
  }
#porcion2 {
    transform: rotate(76deg);
  }
#porcion2 .quesito {
    background-color: #11A8AB;
    transform: rotate(140deg);
  }
#porcion3 {
    transform: rotate(215deg);
  }
#porcion3 .quesito {
    background-color: #4FC4F6;
    transform: rotate(113deg);
  }
#porcionFin {
    transform:rotate(-32deg);
  }
#porcionFin .quesito {
    background-color: #FCB150;
    transform: rotate(32deg);
  }
.nota-final {
  clear: both;
  color: #4FC4F6;
  font-size: 1rem;
  padding: 2rem 0;
}
.nota-final strong {
  color: #E64C65;
}
.nota-final a {
  color: #FCB150;
  font-size: inherit;
}
.numarea{
  color: yellow;
}
